<div  ng-init="init()" ng-controller="GroupDetailCtrl" class="col-md-6">
    <div class="row">
        <h1>
            <span>Group Detail: {{ group.group_name }}</span>
        </h1>
        <div class="flash-message" flash-message="5000" ></div>
        <h4>
            <span ng-if='cronfile == ""'>
                <button class="btn btn-primary" ng-show="!show_form" ng-click="showCreateCronfile()">Create Schedule</button>
            </span>
            <span ng-if='cronfile != "" && !show_form'>Schedule: <span ng-bind="cronfile"></span>
                <br /><button class="btn btn-primary" style="margin-top: 5px;" ng-click="showUpdateCronfile()">Update Schedule</button>
            </span>
            <div>
                <form ng-show="show_form">
                    <div class="form-group">
                        <label ng-bind="form_message" for="cronfile"></label>
                        <input type="text" class="form-control" name="cronfile" ng-model="cronfile"></input>
                    </div>
                    <div class="form-group">
                        <button ng-click="saveCronfile()" class='btn btn-primary btn-small'>Save Schedule</button>
                    </div>

                </form>

            </div>
        </h4>
        <hr/>
        <span>
            <button ng-click="updateAllGroupHosts()" class='btn btn-primary btn-small'>Update All Group Hosts</button>
        </span>
    </div>
    <div class="row">
        <div>
            <h3>Group Hosts</h3>
            <table style="margin-top: 55px;" ng-if="group != none" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="2">Hosts in Group&nbsp; <button ng-click="editGroupHosts()" class='btn btn-primary btn-small pull-right'>Edit Group Hosts</button></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="system in group.update_systems | filter:query">
                    <td>
                        <a href="#detail/{{ system.id }}/">{{ system.hostname }}</a>
                    </td>
                    <td>
                        <button ng-click="updateHost(system.id)" class='btn btn-primary btn-small pull-right'>Update Host with Group Policy</button>
                    </td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div>
            <h3>Update Scripts</h3>
            <table style="margin-top: 55px;" ng-if="group != none" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Scripts for Host&nbsp;<button ng-click="editGroupScripts()" class='btn btn-primary btn-small pull-right'>Edit Group Scripts</button></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="script in scripts | filter:query">
                <td> {{ script.file_name }} </td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div>
            <h3>Recent Updates</h3>
            <table style="margin-top: 55px;" ng-if="group != none" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Update ID</th>
                    <th>System</th>
                    <th>Start Time</th>
                    <th>Finish Time</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="update in group.recent_updates">
                <td> <a href="/#/updatedetail/{{ update.id }}/">{{ update.id }}</a> </td>
                    <td> {{ update.hostname }} </td>
                    <td> {{ update.created_at }} </td>
                    <td> {{ update.finished_at }} </td>
                    <td>
                        <span ng-if="update.status_code == 0">Completed</span>
                        <span ng-if="update.status_code == 1">Warning</span>
                        <span ng-if="update.status_code == 2">Failed</span>
                    </td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>