<div  ng-init="init()" ng-controller="GroupDetailCtrl" class="col-md-6">
    <div class="row">
        <h1>
            <span>Group Detail: {{ group.group_name }}</span>
        </h1>
        <hr/>
    </div>
    <div class="row">
        <div>
            <h3>Group Hosts</h3>
            <table style="margin-top: 55px;" ng-if="group != none" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th colspan="2">Hosts in Group&nbsp; <button ng-click="editGroupHosts()" class='btn btn-primary btn-small pull-right'>Edit Group Hosts</button></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="system in group.update_systems | filter:query">
                    <td>
                        <a href="#detail/{{ system.id }}/">{{ system.hostname }}</a>
                    </td>
                    <td>
                        <button ng-click="updateHost(system.id)" class='btn btn-primary btn-small pull-right'>Update Host with Group Policy</button>
                    </td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div>
            <h3>Update Scripts</h3>
            <table style="margin-top: 55px;" ng-if="group != none" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Scripts for Host&nbsp;<button ng-click="editGroupScripts()" class='btn btn-primary btn-small pull-right'>Edit Group Scripts</button></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="script in scripts | filter:query">
                <td> {{ script.file_name }} </td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div>
            <h3>Recent Updates</h3>
            <table style="margin-top: 55px;" ng-if="group != none" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Update ID</th>
                    <th>Start Time</th>
                    <th>Finish Time</th>
                    <th>Status</th>
                    <th>Update ID</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="update in group.recent_updates">
                <td> <a href="/#/updatedetail/{{ update.id }}/">{{ update.id }}</a> </td>
                    <td> {{ update.created_at }} </td>
                    <td> {{ update.finished_at }} </td>
                    <td>
                        <span ng-if="update.status_code == 0">Completed</span>
                        <span ng-if="update.status_code == 1">Warning</span>
                        <span ng-if="update.status_code == 2">Failed</span>
                    </td>
                    <td> {{ update.id }} </td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>