<a ng-init="init(5)" href="/">Home</a>
<a href="/#/updates/{{ hostname }}/">Updates</a>
<div ng-if="updates.length == 0 && has_loaded = true">
    <h3>No Updates for System</h3>
</div>
<div ng-if="updates.length > 0">
    <h3>Update log #{{ id }} on {{ hostname }}</h3>
</div>
<table style="margin-top: 55px;" ng-if="updates.length > 0" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Return Code</th>
        <th>Log Text</th>
        <th>stdout</th>
        <th>stderr</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="update in updates">
        <td>{{ update.id }}</td>
        <td>{{ update.return_code }}</td>
        <td>{{ update.log_text }}</td>
        {{ update.stdout.length }}
        <td ng-if="update.stdout.length"><pre>{{ update.stdout }}</pre></td>
        <td ng-if="!update.stdout">&nbsp;</td>
        <td>{{ update.stderr }}</td>
        <td>{{ update.created_at }}</td>
    </tr>
    </tbody>
</table>
